<!-- DIRETIVAS SÃO INSTRUÇÕES -->
<h2>*ngIf</h2>

<!-- recomendado para a árvore de elementos grandes -->
<div *ngIf="cursos.length > 0">
  Lista de cursos
</div>

<div *ngIf="cursos.length == 0">
  Não existem cursos para serem listados
</div>

<div *ngIf="!mostrarCursos">
  Não existem cursos para serem listados
</div>

<br>

<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>

<h3>Hidden como Alternativa</h3>
<!-- usando uma propriedade do elemento -> property biding -->
<!-- recomendado para a árvore de elementos pequenos -->
<div [hidden]="mostrarCursos">
  Lista de cursos
</div>


<div [hidden]="!mostrarCursos">
  Não existem cursos para serem listados
</div>